parameters:
	ignoreErrors:
		-
			message: '#^Access to constant STATUS_CANCELLED on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Access to constant STATUS_SUCCESS on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method checkPayment\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method checkSign\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method getQuery\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 9
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method getQueryParams\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method getServiceSecret\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setAmount\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setCountry\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setCurrency\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setLocale\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setLogo\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setPayment_ref\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setReturn_url\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setUser\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method startPayment\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php
