parameters:
	ignoreErrors:
		-
			message: '#^Access to constant STATUS_CANCELLED on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Access to constant STATUS_SUCCESS on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method checkPayment\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method checkSign\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method getQuery\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 9
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method getQueryParams\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method getServiceSecret\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setAmount\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setCountry\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setCurrency\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setLocale\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setLogo\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setPayment_ref\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setReturn_url\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method setUser\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Call to static method startPayment\(\) on an unknown class Monetbil\.$#'
			identifier: class.notFound
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Variable \$prochaine_date might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Helpers/super_admin_helper.php

		-
			message: '#^Method App\\Http\\Controllers\\Admin\\BoutiquesController\:\:edit\(\) should return App\\Http\\Controllers\\Admin\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/Admin/BoutiquesController.php

		-
			message: '#^Method App\\Http\\Controllers\\Admin\\BoutiquesController\:\:show\(\) should return App\\Http\\Controllers\\Admin\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/Admin/BoutiquesController.php

		-
			message: '#^Variable \$depart might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Http/Controllers/Admin/CommandesController.php

		-
			message: '#^Variable \$produits might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Http/Controllers/Admin/CommandesController.php

		-
			message: '#^File ends with a trailing whitespace\. This may cause problems when running the code in the web browser\. Remove the closing \?\> mark or remove the whitespace\.$#'
			identifier: whitespace.fileEnd
			count: 1
			path: app/Http/Controllers/Admin/PasswordController.php

		-
			message: '#^Relation ''boutiques'' is not found in App\\Models\\Quartier\\Quartier model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/QuartierController.php

		-
			message: '#^Relation ''commandes_pointarrivee'' is not found in App\\Models\\Quartier\\Quartier model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/QuartierController.php

		-
			message: '#^Relation ''commandes_pointdepart'' is not found in App\\Models\\Quartier\\Quartier model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/QuartierController.php

		-
			message: '#^Relation ''point_relais'' is not found in App\\Models\\Quartier\\Quartier model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/QuartierController.php

		-
			message: '#^Relation ''ville'' is not found in App\\Models\\Quartier\\Quartier model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/QuartierController.php

		-
			message: '#^Relation ''zone'' is not found in App\\Models\\Quartier\\Quartier model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/QuartierController.php

		-
			message: '#^Call to function compact\(\) contains possibly undefined variable \$user\.$#'
			identifier: variable.undefined
			count: 2
			path: app/Http/Controllers/Admin/UsersController.php

		-
			message: '#^Relation ''agent_utilisateur'' is not found in App\\Models\\Users\\Users model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/UsersController.php

		-
			message: '#^Relation ''client_utilisateur'' is not found in App\\Models\\Users\\Users model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/UsersController.php

		-
			message: '#^Relation ''commandes_enregistrees'' is not found in App\\Models\\Users\\Users model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/UsersController.php

		-
			message: '#^Relation ''coursier_utilisateur'' is not found in App\\Models\\Users\\Users model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Admin/UsersController.php

		-
			message: '#^Relation ''type_utilisateur'' is not found in App\\Models\\Users\\Users model\.$#'
			identifier: larastan.relationExistence
			count: 2
			path: app/Http/Controllers/Admin/UsersController.php

		-
			message: '#^Call to function compact\(\) contains possibly undefined variable \$ville\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Http/Controllers/Admin/VilleController.php

		-
			message: '#^Variable \$depart might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Http/Controllers/Client/CommandesController.php

		-
			message: '#^Variable \$produits might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Http/Controllers/Client/CommandesController.php

		-
			message: '#^Call to static method findOrFail\(\) on an unknown class App\\Http\\Controllers\\Client\\Client\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/Client/UsersController.php

		-
			message: '#^Relation ''commandes'' is not found in App\\Models\\Clients\\Clients model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Coursier/ClientsController.php

		-
			message: '#^Variable \$depart might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Http/Controllers/Coursier/CommandesController.php

		-
			message: '#^Variable \$reponse might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Http/Controllers/Coursier/CommandesController.php

		-
			message: '#^Method App\\Http\\Controllers\\Multi\\Informations_personnelsController\:\:edit\(\) should return App\\Http\\Controllers\\Multi\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/Multi/Informations_personnelsController.php

		-
			message: '#^Method App\\Http\\Controllers\\Multi\\Type_vehiculeController\:\:show\(\) should return App\\Http\\Controllers\\Multi\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/Multi/Type_vehiculeController.php

		-
			message: '#^Method App\\Http\\Controllers\\Multi\\VehiculeController\:\:show\(\) should return App\\Http\\Controllers\\Multi\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/Multi/VehiculeController.php

		-
			message: '#^Relation ''details_zone'' is not found in App\\Models\\Zone\\Zone model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Multi/ZoneController.php

		-
			message: '#^Relation ''montantlivraisoncolis'' is not found in App\\Models\\Zone\\Zone model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Multi/ZoneController.php

		-
			message: '#^Relation ''montantlivraisonlivraison'' is not found in App\\Models\\Zone\\Zone model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Multi/ZoneController.php

		-
			message: '#^Relation ''quartiers'' is not found in App\\Models\\Zone\\Zone model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Multi/ZoneController.php

		-
			message: '#^Relation ''ville'' is not found in App\\Models\\Zone\\Zone model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Http/Controllers/Multi/ZoneController.php

		-
			message: '#^Method App\\Http\\Controllers\\SuperAdmin\\AbonnementController\:\:recap_create\(\) should return App\\Http\\Controllers\\SuperAdmin\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/SuperAdmin/AbonnementController.php

		-
			message: '#^Method App\\Http\\Controllers\\SuperAdmin\\AbonnementController\:\:recap_edit\(\) should return App\\Http\\Controllers\\SuperAdmin\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/SuperAdmin/AbonnementController.php

		-
			message: '#^Method App\\Http\\Controllers\\SuperAdmin\\ApiController\:\:recap_edit\(\) should return App\\Http\\Controllers\\SuperAdmin\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/SuperAdmin/ApiController.php

		-
			message: '#^Method App\\Http\\Controllers\\SuperAdmin\\ClientController\:\:recap_abonate\(\) should return App\\Http\\Controllers\\SuperAdmin\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/SuperAdmin/ClientController.php

		-
			message: '#^Method App\\Http\\Controllers\\SuperAdmin\\ClientController\:\:recap_create\(\) should return App\\Http\\Controllers\\SuperAdmin\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/SuperAdmin/ClientController.php

		-
			message: '#^Method App\\Http\\Controllers\\SuperAdmin\\ClientController\:\:recap_edit\(\) should return App\\Http\\Controllers\\SuperAdmin\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: app/Http/Controllers/SuperAdmin/ClientController.php

		-
			message: '#^Variable \$message might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: app/Http/Controllers/SuperAdmin/SuperAdminController.php

		-
			message: '#^Method App\\Http\\Controllers\\SuperAdmin\\TransactionController\:\:store\(\) should return App\\Http\\Controllers\\SuperAdmin\\Response but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: app/Http/Controllers/SuperAdmin/TransactionController.php

		-
			message: '#^Undefined variable\: \$client$#'
			identifier: variable.undefined
			count: 1
			path: app/Http/Controllers/SuperAdmin/TransactionController.php

		-
			message: '#^Variable \$client might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: app/Http/Controllers/SuperAdmin/TransactionController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: database/seeders/DatabaseSeeder.php
