/* -- mise a jour de la vue d'authentificaation -- */

.img-fluids {
  
    max-width : 50%;
  
    height : auto;
  
  }
  
  @media (max-width: 991px) {
  
    .log-fields-bloc{
  
      height: 2px;
  
      background-color: #9f0d0d;
  
    }
  
    .log-logo-bloc{
  
      justify-content: center;
  
    }
  
    .img-fluids{
  
      margin: 30% 24%;
  
      max-width : 50%;
  
      height : auto;
  
  
    }
  
  }

  /* !-- mise a jour de la vue d'authentificaation -- */